.git
.github
.gitignore

node_modules
**/node_modules
**/dist
**/*.tsbuildinfo

data
e2e/test-results
e2e/playwright-report
e2e/tests
e2e/helpers.ts
e2e/playwright.config.ts

browser/.portablelinux
browser/dist
browser/patches
browser/scripts
browser/Dockerfile.build
browser/args.gn

scripts/e2e.mjs
scripts/e2e-fingerprint.mjs
scripts/e2e-multi-display.mjs

*.log
.env
.env.*
.DS_Store
README.md
